// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";


/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */

// Use clearfix if you need general clearfixing
.clearfix 			{ @include clearfix; }

// Use pie-clearfix if you need clearfixing that doesn't use overflow: hidden
.pie-clearfix 		{ @include pie-clearfix; }

// OTHER EXTENDS

// Max width, for images etc... in RWD
.max-width 			{ max-width: 100%; height: auto; }

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

@font-face {
    font-family: 'Socialico';
    src: url('../fonts/Socialico.otf');
}

html {
	font-size: 100%;
}

body {
	color: $base-color;
    background: url(../images/bg.png);
    font-family: 'Noto Sans', sans-serif;
}

a {
	color: $action;
	@include force-wrap;					// force text links to wrap
	&:hover, &:focus, &:active {
		color: $action-respond
	}
    text-decoration: none;
}

// Import base typography into the cascade (if required)
@import "libs/typography";

// Import form styles into the cascade (if required)
@import "libs/forms";

// ---- nightjar stuff ---------------------------------------

header {
	@include padding-leader(4);
	@include padding-trailer(2);
    padding-left: 1em;
	background: url(../images/transparent.png);
	h1 { color: #fff; }
}

.icons {
    float: right;
    padding-right: 1em;
    margin-top: -1em;
    margin-bottom: -1em;
}

.icons a {
    font-family: "Socialico";
    font-size: 500%;
}

///////// stories

.article-text {
    margin-left: 1em;
    float: left;
    width: 30%;
    min-width: 30em;
    min-height: 30em;
	background: url(../images/transparent.png);
}

.article-text-inner {
    padding: 1em;
}

.article-image-container {
    float: left;
    width: 48%;
}

.article-image {
    height: 30em;
    width: auto;
    min-width: 25em;
}

//////// buttons

.buttons {
    margin-top: 1em;
    width: 100%;
}

.button-block {
    float: left;
    width: 30%;
    min-width: 7.25em;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 1em;
}

.button-overlay {
	background: url(../images/transparent.png);
    padding-left: 1em;
    height: 4em;
    vertical-align: middle;
}

.button-block a {
    font-size: 200%;
}

/////// blog

.blog {
    margin: 1em;
    padding: 1em;
    background: #fff;
}

////// gallery

.gallery {
    padding-left: 1em;
}

.gallery-block {
    width: 31%;
    min-width: 16em;
	background: url(../images/transparent.png);
}

.gallery-image {
    width: 100%;
}

.gallery-slider {
    overflow: hidden;
    width: 40em;
    height: 30em;
}

.slider-items {
    position: relative;
    cursor: move;
    width: 6000px;
}

.slider-item {
    width: 40em;
    float: left;
}

.slider-overlay {
    position: relative;
    top: -21.5em;
    left: 1em;
    color: #fff;
}

.slider-caption {
	@include padding-leader(3);
	@include padding-trailer(2);
    padding-left: 1em;
    position: relative;
    top: -4em;
    color: #fff;
    background: url(../images/transparent-dark.png);
    z-index: 999;
}

.slider-image {
    height: 100%;
    width: auto;
}

// --------------------------------------------------------------

footer {
	@include padding-leader(2);
	@include padding-trailer(2);
    padding-left: 1em;
    padding-right: 1em;
    background: url(../images/transparent.png);
	h1 { color: #fff; }
    margin: 1em;
    text-align: right;
}


// -------------------------------------------------------------------------------------------------------

// All the below can be removed if need be

// -------------------------------------------------------------------------------------------------------


/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

.container {
	@extend .clearfix;
	margin: 0 auto;
	width: 95%;
}

/* Example styles - you'll most likey want to remove*/

section 				{ @extend .clearfix; }
h1 						{ font-weight: 600; }
ol 						{ @include ordered-inside }
ul 						{ @include unordered-inside }



/* ::Media queries */
/* ------------------------------------------------------------ */

// If using gridset or another pre-defined grid, these should match up to the same breakpoints

// Below examples use a mobile-first approach


// Eg for 480px
@media screen and (min-width: em-font(480px)) {
	.container {
		width: 95%;
	}
}


// Eg for 800px
@media screen and (min-width: em-font(800px)) {
	.container {
		min-width: em-font(780px);
	}
}

// Eg for 1240px
@media screen and (min-width: em-font(1240px)) {
	.container {
		max-width: em-font(1080px);
	}
}

// Print styles
@media print {
	body {
		// Smaller type for printing. Save a tree
		font-size: percentage(10 / 16);
		@include adjust-leading-to(2);
	}
}


// IOS specifics
@media screen and (max-width: 769px) {  // Absolute measure here, as we're talking about devices, not screen size
	-webkit-text-size-adjust:none; 		// Stop iPhone/iPad from scaling text
}


/* ::State styles */
/* ------------------------------------------------------------ */

.is-hidden {
	display: none;
}

.is-shown, .is-block {
	display: block;
}

.is-uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.is-lowercase {
	text-transform: lowercase;
}



/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */

#grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#grid div.horiz{
	// Use this one NOT using a global border-box setting
	// height: $base-line-height - 1px;

	// Use this one if you ARE using a global border-box setting
    height: $base-line-height;

    // Carry on...
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}
