// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";

.clearfix 			{ @include clearfix; }
.pie-clearfix 		{ @include pie-clearfix; }
.max-width 			{ max-width: 100%; height: auto; }

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

@font-face {
    font-family: 'Socialico';
    src: url('../fonts/Socialico.otf');
}

html {
	font-size: 100%;
}

body {
	color: $base-color;
    background: url(../images/bg.png);
    font-family: 'Noto Sans', sans-serif;
}

a {
	color: $action;
	@include force-wrap;					// force text links to wrap
	&:hover, &:focus, &:active {
		color: $action-respond
	}
    text-decoration: none;
}

// Import base typography into the cascade (if required)
@import "libs/typography";

// Import form styles into the cascade (if required)
@import "libs/forms";

// ---- nightjar stuff ---------------------------------------

header {
    padding-top: 1em;
    overflow: hidden;
    height: 5.5em;
}

.nav-holder {
    width: 75%;
    float: left;
    min-width: 12em;
    padding-bottom: 1em;

    @media only screen and ( max-width: 800px ) {
          width: 100%;
          padding-right: 1em;
    }
}

.icons {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -1em;
    margin-bottom: -1em;
    min-width: 18em;
}

.icons a {
    font-family: "Socialico";
    font-size: 500%;
}

.content {
    padding-right: 1em;
}

///////// stories

.article-text {
    float: left;
    width: 30%;
    min-width: 30em;

    @media only screen and ( max-width: 800px ) {
        min-width: 100%;
        float: none;
        margin-bottom: 1em;
    }
}

.article-text-inner {
	background: url(../images/transparent.png);
    padding: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    min-height: 24em;

    @media only screen and ( max-width: 800px ) {
        margin-bottom: 0;
    }
}

.article-image {
    height: 30em;
    width: auto;
    margin-bottom: 1em;

    @media only screen and ( max-width: 800px ) {
          width: 100%;
          height: auto;
    }

}

//////// buttons

.buttons {
    width: 100%;
}

.button-block {
    float: left;
    min-width: 12em;

    @media only screen and ( max-width: 800px ) {
        min-width: 100%;
    }

    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    vertical-align: middle;
    width: 100%;
    background: #fff;
}

.highlight {
    border: solid #000 2px;
    font-weight: bold;
    background: #fff;
}



/////// blog

.blog {
}

.blog-left {
    min-width: 10em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    background: url(../images/transparent.png);
    width: auto;
    overflow: hidden;
}

.blog-right {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    float: right;
    width: 30em;
}

////// gallery

.gallery {
    padding-left: 1em;
}

.gallery-block {
    width: 31%;
    min-width: 16em;
	background: url(../images/transparent.png);
}

.gallery-image {
    width: 100%;
}

.gallery-slider {
    overflow: hidden;
    width: 40em;
    height: 30em;

    @media only screen and ( max-width: 800px ) {
          width: 100%;
    }

}

.slider-items {
    position: relative;
    cursor: move;
    width: 6000px;
}

.slider-item {
    width: 40em;
    float: left;

    @media only screen and ( max-width: 800px ) {
          width: 800px;
          height: auto;
    }
}

.slider-overlay {
    position: relative;
    top: -21.5em;
    left: 1em;
    color: #fff;
}

.slider-caption {
	@include padding-leader(3);
	@include padding-trailer(2);
    padding-left: 1em;
    position: relative;
    top: -4em;
    color: #fff;
    background: url(../images/transparent-dark.png);
    z-index: 999;
}

.slider-image {
    height: 100%;
    width: auto;

    @media only screen and ( max-width: 800px ) {
          width: 90%;
          height: auto;
    }
}

// --------------------------------------------------------------

footer {
	@include padding-leader(2);
	@include padding-trailer(2);
    padding-left: 1em;
    padding-right: 1em;
    background: url(../images/button-01.png);
	h1 { color: #fff; }
    text-align: right;
}


// -------------------------------------------------------------------------------------------------------

// All the below can be removed if need be

// -------------------------------------------------------------------------------------------------------


/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

.container {
	@extend .clearfix;
	margin: 0 auto;
	width: 95%;
}

/* Example styles - you'll most likey want to remove*/

section 				{ @extend .clearfix; }
h1 						{ font-weight: 600; }
ol 						{ @include ordered-inside }
ul 						{ @include unordered-inside }




// Print styles
@media print {
	body {
		// Smaller type for printing. Save a tree
		font-size: percentage(10 / 16);
		@include adjust-leading-to(2);
	}
}


// IOS specifics
@media screen and (max-width: 769px) {  // Absolute measure here, as we're talking about devices, not screen size
	-webkit-text-size-adjust:none; 		// Stop iPhone/iPad from scaling text
}
