<html lang="en">
  <head>
    <link rel="stylesheet" href="../media/css/screen.css" />
    <title>{% block title %}Project Nightjar{% endblock %}</title>
  </head>
  <body>
    <header>
      <div style="width:50%; float:left;">
        <h1><a href="/">Project Nightjar</a></h1>
      </div>
      <section class="icons">
        <a href="http://www.flickr.com/photos/project_nightjar/">n</a><a href="https://www.youtube.com/user/ProjectNightjar">x</a><a href="https://twitter.com/ProjectNightjar">l</a><a href="https://www.facebook.com/SensoryEcology">f</a>
      </section>
      <div style="clear:both;"></div>
    </header>

    <article>
      <section>
        <section class="article-text">
          <section class="article-text-inner">
            {% block article-text %}{% endblock %}
          </section>
        </section>
        {% block article-image %}{% endblock %}
      </section>
    </article>

	<section class="buttons">
      {% block buttons %}{% endblock %}
    </section>

	<section class="gallery">
      {% block gallery %}{% endblock %}
    </section>

	<section class="blog clearfix">
        {% block blog %}{% endblock %}
    </section>
  </body>
</html>
