<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../media/css/screen.css" />
    <title>{% block title %}Project Nightjar{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header>
      <div class="nav-holder">
	    <section class="buttons">
          {% block breadcrumbs %}{% endblock %}
        </section>
      </div>
      <section class="icons">
        <a href="http://www.flickr.com/photos/project_nightjar/">n</a>
        <a href="https://www.youtube.com/channel/UC0dU5nsLPDfalzYn5W1gXMQ">x</a>
        <a href="https://twitter.com/ProjectNightjar">l</a>
        <a href="https://www.facebook.com/SensoryEcology">f</a>
      </section>
      <div style="clear:both;"></div>
    </header>

    <section class="content">
      <section class="buttons">
        {% block article-nav %}{% endblock %}
      </section>

      <article style="white-space: nowrap; overflow: hidden;">
        <section>
          <section class="article-text">
            {% block article-title %}{% endblock %}
            {% block article-text %}{% endblock %}
          </section>
	      <section class="gallery">
            <div class="gallery-dummy"></div>
            <div class="gallery-slider">
              {% block article-image %}{% endblock %}
            </div>
          </section>

	      <section class="twitter">
            {% block twitter %}{% endblock %}
          </section>
        </section>
      </article>

      <section class="blog">
        {% block blog %}{% endblock %}
      </section>
    </section>

    <footer>

      <a href="http://www.sensoryecology.com"><img id="sensory" src="../media/images/sensory-ecology.png"></a>
      <a href="http://www.exeter.ac.uk"><img id="exeter" src="../media/images/exeter.png"></a>
      <a href="http://www.zoo.cam.ac.uk"><img id="cu" src="../media/images/cu.png"></a>
      <a href="http://www.bbsrc.ac.uk"><img id="bbsrc" src="../media/images/bbsrc.png"></a>

    </footer>

    <script src="../media/js/jquery-1.8.2.min.js"></script>
    <script src="../media/js/jquery.event.drag-2.2.js"></script>
    <script src="../media/js/jquery.timer.js"></script>
    <script src="../media/js/gallery-slider.js"></script>
    <script src="../media/js/main.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43256697-1', 'exeter.ac.uk');
      ga('send', 'pageview');
    </script>

  </body>
</html>
