{% extends "base.html" %}

{% block breadcrumbs %}
<div class="button-block"
     style="width: 100%;
            font-weight: bold;
            font-size: 150%;
            background: url(../media/images/button-09.png);">
  <a href="/story/main"> [Project Nightjar Blog]</a>
</div>
{% endblock %}

{% block article-nav %}
{% for post in posts %}
<div class="button-block"
     style="width: 50%;
            font-size: 150%;
            background: url(../media/images/{{ post.image }});">
  <a href="/post/{{ post.id }}"> {{ post.title }} by by {{ post.author }} at {{ post.date }}</a>
</div>
{% endfor %}
{% endblock %}
