{% extends "base.html" %}

{% block buttons %}
{% for button in buttons %}
<div class="button-block"
     style="background:{{ button.colour }};
            width: {{ button_width }}%;
            font-size:{{ button_text_size }}%;
            background: url(../media/images/{{ button.image }});">
    <a href="/story/{{ button.id_name }}">{{ button.title }}</a>
</div>
{% endfor %}
{% endblock %}

{% block article-image %}

<!--
-->
{% if gallery %}
<div class="gallery-slider">
  <div class="slider-items">
    {% for image in gallery %}
    <div class="slider-item">
      <img src="{{ image.image.url }}" class="slider-image">
      {% if image.desc %}
      {% autoescape off %}
      <div class="slider-caption">{{ image.desc }}</div>
      {% endautoescape %}
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="slider-overlay">
    <a href="#" class="arrow-left"><img src="../media/images/arrow-left.png"></a>
    <a href="#" class="arrow-right"><img src="../media/images/arrow-right.png" style="float: right; margin-right: 3em;"></a>
  </div>
</div>
{% else %}
<div class="article-image-container">
  <img src="{{ story.desc_image.url }}" class="article-image">
</div>
{% endif %}
{% endblock %}

{% block article-text %}
<p>
  {% autoescape off %}
  {{ story.desc }}
  {% endautoescape %}
</p>
{% endblock %}

{% block blog %}
<section class="blog clearfix">
  <section class="blog-right">
    <a class="twitter-timeline"  href="https://twitter.com/ProjectNightjar"  data-widget-id="348490372143525888">Tweets by @ProjectNightjar</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </section>
  <section class="blog-left">
    <h2>Nightjar News</h2>

    {% for post in posts %}
    <p>
      <a href="/post/{{ post.pk }}">
        {{ post.title }}
      </a> by {{ post.author }} <br/>
      {{ post.date }}
    </p>
    {% endfor %}
  </section>
</section>
{% endblock %}
