{% extends "base.html" %}

{% block article-image %}
<img src="{{ story.desc_image.url }}" class="article-image">
{% endblock %}

{% block article-text %}
<p>{{ story.desc }}</p>
{% endblock %}

{% block buttons %}
{% for button in buttons %}
<div class="button" style="background:url({{ button.button_image.url}});">
  <div class="button-overlay">
    <a href="/story/{{ button.id_name }}">
      {{ button.title }}
    </a>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block blog %}

<h2>Nightjar News</h2>

{% for post in posts %}
    <p>
    <a href="/post/{{ post.pk }}">
      {{ post.title }}
    </a> by {{ post.author }} <br/>
    {{ post.date }}
    </p>
{% endfor %}

{% endblock %}
