{% extends "base.html" %}

{% block buttons %}

<div class="button-block"
     style="background:{{ button.colour }};
            width: 3rem;
            min-width: 3rem;
            font-size:{{ button_text_size }}%;
            background: url(../media/images/{{ back_button }});">
  <a href="/story/{{ parent.id_name }}"> < </a>
</div>


<!-- display title if not a leaf node -->
{% if not leaf %}
<div class="button-block highlight"
     style="background:{{ button.colour }};
            width: {{ button_width }}%;
            font-size:{{ button_text_size }}%;
            background: url(../media/images/{{ parent_button }});">
  <a href="/story/{{ story.id_name }}"> {{ story.title }} </a>
</div>
{% else %}
<div class="button-block"
     style="background:{{ button.colour }};
            width: {{ button_width }}%;
            font-size:{{ button_text_size }}%;
            background: url(../media/images/{{ parent_button }});">
  <a href="/story/{{ parent.id_name }}"> {{ parent.title }} </a>
</div>
{% endif %}

{% for button in buttons %}
<div class="button-block {% if button.id_name = story.id_name %} highlight {% endif %}"
     style="background:{{ button.colour }};
            width: {{ button_width }}%;
            font-size:{{ button_text_size }}%;
            background: url(../media/images/{{ button.image }});">
  <a href="/story/{{ button.id_name }}"> {{ button.title }} </a>
</div>
{% endfor %}
{% endblock %}

{% block article-image %}

<!--
-->
{% if gallery %}
<div class="gallery-slider">
  <div class="slider-items">
    {% for image in gallery %}
    <div class="slider-item">
      <img src="{{ image.image.url }}" class="slider-image">
      {% if image.desc %}
      {% autoescape off %}
      <div class="slider-caption">{{ image.desc }}</div>
      {% endautoescape %}
      {% else %}
      <div class="slider-caption" style="background: none;"> </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="slider-overlay">
    <img class="arrow-left" src="../media/images/arrow-left-t.png">
    <img class="arrow-right" src="../media/images/arrow-right-t.png" style="float: right; margin-right: 3em;">
  </div>
</div>
{% else %}
<img src="{{ story.desc_image.url }}" class="article-image">
{% endif %}
{% endblock %}

{% block article-text %}
<!--<h2>{{ story.title }}</h2> -->
<p>
  {% autoescape off %}
  {{ story.desc }}
  {% endautoescape %}
</p>
{% endblock %}
