{% extends "base.html" %}

{% block buttons %}
<div class="button-block"
     style="background:{{ button.colour }};
            opacity: 0.5;
            width: {{ button_width }}%;">
  <div class="button-overlay">
    <a href="/story/{{ parent.id_name }}"><<</a>
  </div>
</div>
{% for button in buttons %}
<div class="button-block"
     style="background:{{ button.colour }};
            opacity: 0.5;
            width: {{ button_width }}%;">
  <div class="button-overlay">
    <a href="/story/{{ button.id_name }}">{{ button.title }}</a>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block article-image %}

<!--
-->
{% if gallery %}
<div class="gallery-slider">
  <div class="slider-items">
    {% for image in gallery %}
    <div class="slider-item">
      <img src="{{ image.image.url }}" class="slider-image">
      {% if image.desc %}
      <div class="slider-caption">{{ image.desc }}</div>
      {% else %}
      <div class="slider-caption" style="background: none;"> </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="slider-overlay">
    <img class="arrow-left" src="../media/images/arrow-left-t.png">
    <img class="arrow-right" src="../media/images/arrow-right-t.png" style="float: right; margin-right: 3em;">
  </div>
</div>
{% else %}
<div class="article-image-container">
  <img src="{{ story.desc_image.url }}" class="article-image">
</div>
{% endif %}
{% endblock %}

{% block article-text %}
<h1>{{ story.title }}</h1>
<p>
  {% autoescape off %}
  {{ story.desc }}
  {% endautoescape %}
</p>
{% endblock %}
