{% extends "base.html" %}

{% block breadcrumbs %}

{% for button in crumbs %}
<div class="button-block"
     style="background:{{ button.colour }};
            width: {{ button_width }}%;
            font-weight: {% if button.id_name = 'main' %} bold {% else %} 0 {% endif %};
            font-size:{{ button_text_size }}%;
            background: url(../media/images/{{ button.image }});">
  <a href="/story/{{ button.id_name }}"> {% if button.id_name = 'main' %} [{{ button.title }}] {% else %} {{ button.title }} {% endif %} </a>
</div>
{% endfor %}

{% endblock %}

{% block article-image %}
  <div class="slider-items">
    {% for image in gallery %}
    <div class="slider-item">
      {% if image.image %}
      <img src="{{ image.image.url }}" class="slider-image">
      {% else %}
      {% autoescape off %}
      {{ image.embed }}
      {% endautoescape %}
      {% endif %}
      {% if image.desc %}
      {% autoescape off %}
      <div class="slider-caption">{{ image.desc }}</div>
      {% endautoescape %}
      {% else %}
      <div class="slider-caption" style="background: none;"> </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="slider-overlay">
    <img class="arrow-left" src="../media/images/arrow-left-t.png">
    <img class="arrow-right" src="../media/images/arrow-right-t.png">
  </div>
{% endblock %}

{% block article-title %}
<div class="button-block" style="background:url('../media/images/transparent.png'); font-size:200%">
  {{ story.title }}
</div>
{% endblock %}

{% block article-text %}
<section class="article-text-inner"> <p>
  {% autoescape off %}
  {{ story.desc }}
  {% endautoescape %}
</p> </section>
{% endblock %}

{% block article-nav %}
{% for button in buttons %}
<div class="button-block"
     style="width: {{ nav_button_width }}%;
            font-size:{{ button_text_size }}%;
            background: url(../media/images/{{ button.image }});">
  <a href="/story/{{ button.id_name }}"> {{ button.title }} </a>
</div>
{% endfor %}
{% endblock %}
